<div class="full-screen">
    <div class="row" style="height: 100%; width: 100%;">
        <div class="col-3">
            <app-navbar></app-navbar>
        </div>
        <div class="col-9 p-4" style="overflow: scroll;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <div class="full-screen">
    <div class="row h-100 w-100">
        <div class="col-3">
            <app-navbar></app-navbar>
        </div>
        <div class="col-9 p-4" style="overflow: scroll;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->